configuration {
    theme: "~/.cache/wal/colors-rofi-dark.rasi";
    font:                           "JetBrainsMono Nerd Font Regular 10.5";
    show-icons:                     true;
	icon-theme: 					"Papirus";
    display-drun: 					"d-run:";
    drun-display-format:            "{name}";
    disable-history:                false;
    fullscreen:                     false;
	hide-scrollbar: 				true;
	sidebar-mode: 					false;
}
