[submodule "config/awesome/modules/bling"]
	path = config/awesome/modules/bling
	url = https://github.com/BlingCorp/bling.git
[submodule "config/awesome/awesome-wm-widgets"]
	path = config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule "config/awesome/json"]
	path = config/awesome/json
	url = https://github.com/rxi/json.lua
[submodule "config/awesome/modules/rubato"]
	path = config/awesome/modules/rubato
	url = https://github.com/andOrlando/rubato.git
[submodule "config/awesomeDE"]
	path = config/awesomeDE
	url = git@github.com:guihig/awesomeDE.git
