@define-color bg #1e2326;
@define-color fg #d3c6aa;

@define-color light-aqua #83c092;
@define-color light-blue #7fbbb3;
@define-color light-green #a7c080;
@define-color light-purple #d699b6;
@define-color light-yellow #dbbc7f;
@define-color light-orange #e67e80;

@keyframes gradient_f {
  0% {
    background-position: 0% 200%;
  }
  50% {
    background-position: 200% 0%;
  }
  100% {
    background-position: 400% 200%;
  }
}

* {
  font-family: "SF Pro Text", sans-serif;
  font-weight: bold;
  font-size: 12px;
  border-radius: 2px;
}

window#waybar {
  background-color: transparent;
  color: @fg;
}

#workspaces {
  background-color: transparent;
  margin-left: 6px;
}

#workspaces button {
  background-color: @bg;
  margin-left: 4px;
  padding: 0 8px;
}

#workspaces button.active {
  background: rgb(84, 166, 230);
  background: radial-gradient(
    circle,
    rgba(84, 166, 230, 1) 21%,
    rgba(22, 163, 179, 1) 47%,
    rgba(43, 101, 145, 1) 69%,
    rgba(33, 33, 33, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradient_f 20s ease-in-out infinite;

  padding: 0 12px;

  color: #eee;
  font-weight: bolder;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#window {
  color: #eee;
  margin-left: 6px;
  padding: 0 15px;

  background: rgb(28, 60, 85);
  background: radial-gradient(
    circle,
    rgba(28, 60, 85, 1) 16%,
    rgba(43, 81, 84, 1) 54%,
    rgba(5, 30, 48, 1) 83%,
    rgba(33, 33, 33, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradient_f 20s ease-in-out infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

window#waybar.empty {
  background-color: transparent;
}

.modules-left {
  margin-left: 12px;
}

.modules-right {
  margin-right: 12px;
}

#battery,
#tray,
#pulseaudio,
#backlight,
#network,
#disk,
#memory,
#cpu,
#clock {
  background-color: @bg;
  color: @light-blue;
  margin: 0 6px 0 6px;
  padding: 0 16px 0 16px;
}

#clock {
  color: @light-green;
  transition: all 0.3s ease-in-out;
}

#network {
  color: @light-purple;
}

#pulseaudio {
  color: @light-yellow;
}
